fastapi
uvicorn
gunicorn
motor
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
git+https://github.com/Kotak-Neo/kotak-neo-api.git#egg=neo_api_client
pandas
wsproto
apscheduler
pytz
pydantic[email]
